---
import "../scss/index.scss";
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{Astro.props.title}</title>
		<link rel="canonical" href="https://jasonb.de">
		<meta name="author" content={Astro.props.title}>
		<meta name="copyright" content={Astro.props.title}>
		<meta name="msapplication-tap-highlight" content="no">
		<meta name="theme-color" content="#0635c9">
		<meta name="name" content={Astro.props.title}>
		<meta name="description" content="Welcome to my Personal Website">
		<meta name="keywords" content="jasonb.de, JasonB, Jason Lee, Jason, Bärwald, hosting">
		<meta name="theme-color" content="#34dbed">
		<meta name="msapplication-navbutton-color" content="#34dbed">
		<meta name="apple-mobile-web-app-status-bar-style" content="#34dbed">
		<meta name="robots" content="index, follow">
	
		<meta property="og:locale" content="de">
		<meta property="og:type" content="website">
		<meta property="og:title" content={Astro.props.title}>
		<meta property="og:description" content="Welcome to my Personal Website">
		<meta property="og:url" content="https://jasonb.de">
		<meta property="og:site_name" content={Astro.props.title}>
		<meta property="og:image" content="/avatar.png">
        <link rel="stylesheet" type="text/css" href="/fonts/space-grotesk/space-grotesk.css" />
	</head>
	<body>
		<slot />
	</body>
	<script is:inline>
        function setLanguage(lang) {
          fetch(`public/translations/${lang}.json`)
            .then(response => response.json())
            .then(translations => {
			  document.getElementById('pronouns').innerText = translations.pronouns;
              document.getElementById('location').innerText = translations.location;
              document.getElementById('age').innerText = translations.age;
              document.getElementById('love').innerText = translations.love;
              document.getElementById('job').innerText = translations.job;
			  document.getElementById('birthdayDate').innerText = translations.birthdayDate;
			  document.getElementById('currwork').innerText = translations.currwork;
              document.getElementById('recommendations').innerHTML = translations.recommendations;
			  document.getElementById('paypal').innerText = translations.paypal;
			  document.getElementById('birthday').innerText = translations.birthday;
			  document.getElementById('legal').innerText = translations.legal;
			  
            });
        }

		setLanguage('en');
      </script>
</html>